#main #header{
  padding: 0px;
}

.no_padding{
  padding: 0px!important;
}

iframe{
  width: 100%;
  height: 60vh;
}
.modal-body{
  padding: 0px 15px!important;
}
@media (min-width: 768px){
  .modal-dialog {
      width: 70%!important;
      margin: 20px auto!important;
  }
}
.univ-damoah{
  background-color: #43B0F1!important;
  color: white!important;
}
.univ-share{
  background-color: #1E3D58!important;
  color: white!important;
}
.img_background{
  background: url('images/thumbs/22.img')
}
